extends layout
block content
  h1= title
  h3 Current date and time #{datetime}
  p Welcome to weather forecast for 5 days

  table
    thead
        tr
            th Date Time (in UTC)
            th Temperature (#{unit})
    tbody
      - var i = -1
      each item in plotdata
        - ++i
        tr(class=(i % 2 == 0) ? 'odd' : 'even')
        
                td= item.datetime
                td= item.temp                